.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__content {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
}
.card__delete-button:hover {
  color: #ff6565;
}
.card__like-button {
  border: none;
  opacity: 0.5;
  background: transparent;
}
.card__like-button:hover {
  opacity: 80%;
  cursor: pointer;
}

.card__like-button_is-liked {
}

.card__like-button_active:hover {
}
@media screen and (max-width: 768px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
  }

  .card__like-button {
    height: 18px;
  }
}
