.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
}

.card__title {
  margin: 0;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__content {
  display: flex;
  justify-content: space-between;
}
.card__like-button {
  background-color: transparent;
  appearance: none;
  border: none;
}
.card__like-button:hover {
  opacity: 80%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .card__image {
    height: 288px;
  }
}
