.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__content {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.3) url("../images/trashcan-icon.svg") center
    no-repeat;
  background-size: 12px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.card__delete-button:hover {
  background-color: #ff6565;
}
.card__like-button {
  border: none;
  opacity: 0.4;
  background: transparent;
  width: 23px;
  height: 20px;
  background: transparent url("../images/gray-heart.svg") center no-repeat;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.card__like-button:hover {
  opacity: 1;
}

.card__like-button_is-liked {
  background: transparent url("../images/red-heart.svg") center no-repeat;
  opacity: 1;
}

.card__like-button_is-liked:hover {
  background: transparent url("../images/pink-like-icon.svg") center no-repeat;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
  }

  .card__like-button {
    height: 18px;
  }
}
