.cards {
  margin-top: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #21212166;
}
.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  list-style-type: none;
  margin: 0 auto;
  gap: 40px 20px;
  row-gap: 20px;
  padding-left: 0;
}
@media screen and (max-width: 768px) {
  .cards {
    padding-bottom: 20px;
  }
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
