.cards {
  margin-top: 30px;
}
.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  list-style-type: none;
  margin: 0 auto;
  gap: 20px;
  padding-left: 0;
}
@media screen and (max-width: 768px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
