.modal {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.3s,
    opacity 0.3s ease-in;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.modal_is-opened {
  visibility: visible;
  opacity: 1;
}
.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  opacity: 0.3;
  border: none;
  background: url("../images/default-close-button.svg") center no-repeat
    transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
}
.modal__close-btn:hover {
  opacity: 1;
}
.modal__title {
  /* margin: top left & right bottom*/
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  color: #212121;
  border-radius: 8px;
  padding: 16px 12px;
  font-size: 20px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  box-sizing: border-box;
}
.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", sans-serif;
  color: #212121b2;
  font-size: 16px;
  padding-left: 10px;
}
.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  width: 100%;
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__image {
  width: 100%;
  max-height: 80vh;
  object-fit: contain;
}
.modal__container_type_preview {
  background-color: transparent;
  padding: 0;
  width: auto;
}
.modal__container_type_preview .modal__close-btn {
  top: 2px;
  right: -52px;
  opacity: 1;
  background: url(../images/close-button.svg) center no-repeat transparent;
}

.modal__container_type_preview .modal__close-btn:hover {
  opacity: 0.3;
}

@media (max-width: 768px) {
  .modal__container {
    max-width: 400px;
    padding: 12px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
  }
  .modal__submit-btn {
    max-width: 100%;
  }
  .modal__title {
    margin: 10px 0px 34px;
    font-size: 20px;
  }
  .modal__image {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
  }
}
