.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.modal_is-opened {
  visibility: visible;
}
.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}
.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
}
.modal__title {
  margin: 0 0 10px;
  width: 169px;
  height: 32px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  color: #212121;
  padding: 16px 12px;
}
.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", sans-serif;
  color: #212121;
  opacity: 70%;
  font-size: 10px;
}
.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  background-color: #212121;
  color: #fff;
}
