.page {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
.header_logo {
  background-color: #ffffff;
  padding: 10px 80px;
}

.header_logo_image {
  width: 94px;
  height: 26px;
  display: block;
  margin: auto;
}
.content {
  margin: 0 auto;
  max-width: 1350px;
}
.profile {
  display: flex;
  padding-top: 25px;
  align-items: flex-start;
  gap: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid gray;
  max-width: 1350px;
}
.profile_picture {
  margin-left: 45px;
  border-radius: 10px;
}

.profile_name {
  width: 420px;
  font-size: 32px;
  margin: 0;
  font-weight: 500;
}
.profile_description {
  font-weight: 500;
  line-height: 100%;
  font-size: 16px;
  opacity: 70%;
}
.edit_profile-button {
  gap: 8px;
  display: flex;
  opacity: 70%;
  margin-top: 105px;
}
.edit_profile_pencil {
  height: 16px;
  width: 12px;
}
.profile_add-button {
  display: flex;
  margin-left: auto;
  padding: 18px 32px;
  background-color: #212121;
  color: #ffffff;
  margin-top: 135px;
  font-size: 16px;
  gap: 8px;
  border-radius: 10px;
  margin-right: 40px;
}
.card_image {
  width: 413px;
  height: 413px;
  border-radius: 10px;
}
.cards {
  margin-top: 30px;
}
.cards_list {
  display: grid;
  grid-template-columns: 413px 413px 413px;
  gap: 20px;
  list-style-type: none;
  margin: 0 auto;
}
.card_title {
  margin: 0;
  margin-top: 10px;
  font-weight: 500;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card_content {
  display: flex;
  justify-content: space-between;
}
.card_like-button {
  background-color: transparent;
  appearance: none;
  border: none;
}
.footer {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  opacity: 70%;
  margin-top: 60px;
  padding-bottom: 40px;
}

@media (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile_picture {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .profile_add-button {
    margin-right: 0;
    margin-top: 20px;
  }
  .cards_list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
