.profile {
  display: flex;
  padding-top: 25px;
  gap: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #21212166;
  max-width: 1350px;
}
.profile__content {
  display: flex;
  flex-direction: column;
}
.profile__pic {
  margin-left: 45px;
  border-radius: 10px;
  width: 190px;
  height: 190px;
  overflow: hidden;
}

.profile__name {
  font-size: 32px;
  margin: 0;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile__description {
  font-weight: 500;
  line-height: 100%;
  font-size: 16px;
  opacity: 70%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #212121b2;
}
.profile__edit-profile-button {
  gap: 8px;
  display: inline-flex;
  opacity: 70%;
  background-color: transparent;
  border: none;
  margin-top: auto;
  cursor: pointer;
}
.profile__edit-profile-button:hover {
  opacity: 100%;
  cursor: pointer;
}
.profile__edit-profile-pencil {
  height: 16px;
  width: 12px;
}
.profile__add-button {
  display: flex;
  margin-left: auto;
  padding: 18px 32px;
  background-color: #212121;
  color: #ffffff;
  align-self: end;
  font-size: 16px;
  gap: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.profile__add-button:hover {
  opacity: 80%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
    text-align: center;
    max-width: 288px;
    gap: 0;
  }

  .profile__name {
    font-size: 20px;
  }

  .profile__description {
    margin: 6px 0 0 0;
  }

  .profile__pic {
    margin-left: 0;
    margin-bottom: 20px;
    height: 80px;
    width: 80px;
  }
  .profile__picture {
    height: 80px;
    width: 80px;
  }

  .profile__add-button {
    margin-right: 0;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .profile__edit-profile-button {
    margin-top: 32px;
    justify-content: center;
  }
}
